<app-header></app-header>
<div>
  <div
    class="flex items-start flex-wrap md:justify-center justify-normal lg:gap-16 md:gap-12 gap-6 p-3 py-6"
  >
    <div>
      <swiper-container
        slides-per-view="1"
        speed="500"
        loop="true"
        class="lg:w-72 w-64"
      >
        <swiper-slide *ngFor="let photo of product?.photos">
          <img [src]="photo.photoUrl" class="lg:w-72 w-64"
        /></swiper-slide>
      </swiper-container>
    </div>
    <div>
      <h4 class="text-xl font-medium">
        {{ product?.name }}
      </h4>
      <p class="font-light">{{ product?.description }}</p>
      <p class="text-green-800">Marka : Genel</p>
      <hr class="my-1" />
      <p class="text-xl">{{ product?.price }} TL</p>
      <p>Fiyatlara KDV dahildir.</p>
    </div>
    <div class="rounded-md border border-black/20 p-3 w-64">
      <p class="font-semibold text-lg my-1">{{ product?.price }} TL</p>
      <p class="text-base my-1">ÜCRETSİZ teslimat 14 - 19 Temmuz. Ayrıntılar</p>
      <div class="flex items-center text-sm gap-1">
        <div><i class="fa-solid fa-location-dot"></i></div>
        <p class="text-green-900">Teslimat adresini seçin</p>
      </div>
      <p class="text-red-700 font-semibold">
        Genellikle 2–3 gün içinde kargoya verilir
      </p>
      <div class="flex items-center gap-1">
        <p>Miktar :</p>
        <select class="border rounded-md p-1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="flex flex-1 flex-col gap-2 place-content-center mt-3">
        <button
          class="bg-[#ffd814] block rounded-2xl shadow-md p-1 w-100"
          (click)="cartService.addToCart({ productId: product?.id || '' })"
        >
          Sepete Ekle
        </button>
        <button class="bg-[#ffa41c] block rounded-2xl shadow-md p-1 w-100">
          Şimdi Al
        </button>
      </div>
      <div class="flex items-center gap-1 my-3">
        <i class="fa-solid fa-lock"></i>
        <p class="text-green-900">Güvenli işlem</p>
      </div>
      <p>
        Daha fazla bilgi, hüküm ve koşullar, firma künyesi ve cayma hakkı için
        lütfen satıcının adına tıklayın.
      </p>
      <hr class="my-2" />
      <button class="border border-black/20 w-full rounded-lg">
        Listeye Ekle
      </button>
    </div>
  </div>

  <div class="mx-3 h-[1px] bg-stone-300"></div>
  <div class="flex items-start flex-wrap p-4 gap-4">
    <div class="w-80 lg:text-base md:text-sm text-xs">
      <h2 class="text-xl font-semibold" (click)="averageStars()">
        Müşteri Yorumları
      </h2>
      <div class="flex items-center gap-2 mt-1">
        <div class="flex items-center text-xl font-medium text-yellow-400 mt-1">
          <i class="fa-regular fa-star stars"></i>
          <i class="fa-regular fa-star stars"></i>
          <i class="fa-regular fa-star stars"></i>
          <i class="fa-regular fa-star stars"></i>
          <i class="fa-regular fa-star stars"></i>
        </div>
        <div class="md:text-lg text-base">{{ average }} / 5 yıldız</div>
      </div>
      <p class="mt-2">{{ product?.comments?.length }} genel puan</p>
      <div class="text-sm">
        <div class="flex items-center gap-2 mt-3">
          <p class="whitespace-nowrap">5 yıldız</p>
          <div
            class="h-6 md:w-48 sm:w-32 w-24 border border-orange-400 rounded-md"
          >
            <div
              [class]="
                'h-full bg-orange-300 rounded-md ' +
                'w-[' +
                stats.fives.percentage +
                '%]'
              "
            ></div>
          </div>
          <p>%{{ stats.fives.percentage }}</p>
        </div>
        <div class="flex items-center gap-2 mt-3">
          <p class="whitespace-nowrap">4 yıldız</p>
          <div
            class="h-6 md:w-48 sm:w-32 w-24 border border-orange-400 rounded-md"
          >
            <div
              [class]="
                'h-full bg-orange-300 rounded-md ' +
                'w-[' +
                stats.fours.percentage +
                '%]'
              "
            ></div>
          </div>
          <p>%{{ stats.fours.percentage }}</p>
        </div>
        <div class="flex items-center gap-2 mt-3">
          <p class="whitespace-nowrap">3 yıldız</p>
          <div
            class="h-6 md:w-48 sm:w-32 w-24 border border-orange-400 rounded-md"
          >
            <div
              [class]="
                'h-full bg-orange-300 rounded-md ' +
                'w-[' +
                stats.threes.percentage +
                '%]'
              "
            ></div>
          </div>
          <p>%{{ stats.threes.percentage }}</p>
        </div>
        <div class="flex items-center gap-2 mt-3">
          <p class="whitespace-nowrap">2 yıldız</p>
          <div
            class="h-6 md:w-48 sm:w-32 w-24 border border-orange-400 rounded-md"
          >
            <div
              [class]="
                'h-full bg-orange-300 rounded-md ' +
                'w-[' +
                stats.twos.percentage +
                '%]'
              "
            ></div>
          </div>
          <p>%{{ stats.twos.percentage }}</p>
        </div>
        <div class="flex items-center gap-2 mt-3">
          <p class="whitespace-nowrap">1 yıldız</p>
          <div
            class="h-6 md:w-48 sm:w-32 w-24 border border-orange-400 rounded-md"
          >
            <div
              [class]="
                'h-full bg-orange-300 rounded-md ' +
                'w-[' +
                stats.ones.percentage +
                '%]'
              "
            ></div>
          </div>
          <p>%{{ stats.ones.percentage }}</p>
        </div>
        <p class="mt-1 text-blue-800">Puanlar nasıl hesaplanır?</p>
      </div>
      <hr class="my-5" />
      <div>
        <h3>Bu ürünü incele</h3>
        <p>Düşüncelerinizi diğer müşteriler ile paylaşın</p>
        <button
          class="border border-stone-300 text-center w-full rounded-md mt-3 shadow-md p-1 text-sm"
          [routerLink]="'/comment/' + product?.id"
        >
          Müşteri yorumu yazın
        </button>
      </div>
      <hr class="my-5" />
    </div>
    <div class="flex-1 min-w-[200px]">
      <div *ngFor="let comment of product?.comments" class="mb-5">
        <div class="flex justify-between items-center">
          <div class="flex items-center gap-1">
            <img
              class="w-8"
              src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
            />
            <p class="text-sm">{{ comment.user.username }}</p>
          </div>
          <div class="flex items-center gap-2">
            <i
              class="fa-solid fa-file-pen text-yellow-500 cursor-pointer"
              [routerLink]="'/comment/' + comment?.id + '/update'"
            ></i>
            <i
              class="fa-solid fa-trash text-red-500 cursor-pointer"
              [routerLink]="'/comment/' + comment?.id + '/delete'"
            ></i>
          </div>
        </div>
        <div class="text-yellow-500 my-[4px] text-sm">
          <div class="flex items-center" *ngIf="comment.stars == 0">
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
          </div>
          <div class="flex items-center" *ngIf="comment.stars == 1">
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
          </div>
          <div class="flex items-center" *ngIf="comment.stars == 2">
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
          </div>
          <div class="flex items-center" *ngIf="comment.stars == 3">
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
          </div>
          <div class="flex items-center" *ngIf="comment.stars == 4">
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-regular fa-star stars"></i>
          </div>
          <div class="flex items-center" *ngIf="comment.stars == 5">
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
            <i class="fa-solid fa-star stars"></i>
          </div>
        </div>
        <h4 class="font-medium">
          {{ comment.title }}
        </h4>
        <p class="text-sm">{{ comment.comment }}</p>
        <div
          class="flex items-start mt-1"
          *ngFor="let photo of comment.commentPhotos"
        >
          <img [src]="photo.photoUrl" class="w-6" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
