<app-header></app-header>
<div>
  <div class="big-image">
    <img src="https://m.media-amazon.com/images/I/61HlstDOUML._SX3000_.jpg" />
  </div>
  <div
    class="lg:-mt-48 -mt-4 px-5 flex items-center flex-wrap gap-5 lg:justify-evenly justify-center"
  >
    <img src="assets/images/3.png" class="lg:w-1/4 w-2/3" />
    <img src="assets/images/4.png" class="lg:w-1/4 w-2/3" />
    <img src="assets/images/1.png" class="lg:w-1/4 w-2/3" />
    <img src="assets/images/3.png" class="lg:w-1/4 w-2/3" />
    <img src="assets/images/1.png" class="lg:w-1/4 w-2/3" />
    <img src="assets/images/3.png" class="lg:w-1/4 w-2/3" />
  </div>
  <p>home works!</p>
  <button (click)="auth.logout()">logout</button>
</div>
<app-footer></app-footer>
