<app-header></app-header>
<div class="p-3">
  <p class="text-center pb-3 text-lg">
    '{{ address.apartmentName }} apt., {{ address.hood }}, {{ address.city }}'
    adlı adresi silmek istediğinize emin misiniz?
  </p>
  <div class="flex items-center gap-5 justify-center">
    <button
      routerLink="/addresses"
      class="bg-purple-500 hover:bg-purple-600 hover:shadow-lg duration-150 text-white shadow-md rounded-md p-1"
    >
      Geri Dön
    </button>
    <button
      (click)="addressService.deleteAddress(address.id).subscribe()"
      class="bg-red-500 hover:bg-red-600 duration-150 hover:shadow-lg shadow-md rounded-md px-3 p-1 text-white"
    >
      Sil
    </button>
  </div>
</div>
<app-footer></app-footer>
