<app-header></app-header>
<div class="p-3 bg-stone-200">
  <form class="flex justify-center" [formGroup]="addAddressForm">
    <div class="bg-white shadow-md rounded-md p-3 lg:w-1/2 w-11/12">
      <!-- Şehir -->
      <div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-city"></i>
          <p class="font-semibold">Şehir</p>
        </div>
        <input
          type="text"
          formControlName="city"
          placeholder="Bursa"
          class="p-2 mb-3 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Mahalle -->
      <div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-school-lock"></i>
          <p class="font-semibold">Mahalle</p>
        </div>
        <input
          type="text"
          formControlName="hood"
          placeholder="Beşevler"
          class="p-2 mb-3 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Apt Adı -->
      <div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-building"></i>
          <p class="font-semibold">Apartman adı</p>
        </div>
        <input
          type="text"
          formControlName="apartmentName"
          placeholder="Ezgi Apt."
          class="p-2 mb-3 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Bina No -->
      <div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-house"></i>
          <p class="font-semibold">Bina no</p>
        </div>
        <input
          type="text"
          formControlName="apartmentNo"
          placeholder="23"
          class="p-2 mb-3 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Kat -->
      <div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-building"></i>
          <p class="font-semibold">Kat</p>
        </div>
        <input
          type="text"
          formControlName="floor"
          placeholder="2"
          class="p-2 mb-3 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <button
        (click)="submitForm()"
        class="bg-[#febd69] p-1 rounded-md font-semibold border border-[#dea466] shadow-md w-full"
      >
        Adres Ekle
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>
