<app-header></app-header>
<div class="p-6 bg-stone-100">
  <div class="flex justify-center">
    <form
      [formGroup]="updateProductForm"
      class="border bg-white border-stone-300 shadow-md rounded-md lg:w-1/2 md:w-2/3 w-11/12 p-2"
    >
      <!-- Adı -->
      <div>
        <div class="flex items-center gap-2 my-1">
          <i class="fa-solid fa-heading fa-lg pl-1"></i>
          <p class="font-semibold">Adı</p>
        </div>
        <input
          type="text"
          formControlName="name"
          placeholder="2008 model Fiat"
          class="p-2 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Açıklama -->
      <div>
        <div class="flex items-center gap-2 my-1">
          <i class="fa-solid fa-book fa-lg pl-1"></i>
          <p class="font-semibold">Açıklama</p>
        </div>
        <input
          type="text"
          formControlName="description"
          placeholder="Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat alarak karıştırdığı 1500'lerden beri endüstri...."
          class="p-2 outline-none border shadow-md border-stone-200 rounded-md my-1 flex-1 w-full"
        />
      </div>
      <!-- Fiyat -->
      <div>
        <div class="flex items-center gap-2 my-1">
          <i class="fa-solid fa-tag fa-lg pl-1"></i>
          <p class="font-semibold">Fiyat</p>
        </div>
        <input
          type="text"
          formControlName="price"
          placeholder="999.99₺"
          class="p-2 outline-none border shadow-md border-stone-200 rounded-md mt-1 mb-3 flex-1 w-full"
        />
      </div>
      <!-- Fotoğraf linkleri -->
      <div class="flex items-center gap-2 my-1">
        <i class="fa-solid fa-photo-film pl-1 fa-lg"></i>
        <p class="font-semibold">Fotoğraflar</p>
      </div>
      <div class="photo-links">
        <div *ngFor="let photo of product?.photos">
          <div class="flex items-center gap-2">
            <input
              type="text"
              placeholder="Fotoğraf linki"
              [value]="photo.photoUrl"
              class="p-2 link link1 outline-none border shadow-md border-stone-200 rounded-md mt-1 flex-1 w-full"
            />
            <div>
              <i
                class="fa-solid fa-trash fa-lg text-red-500 cursor-pointer"
                (click)="removePhoto($event)"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <i
        [ngClass]="numberOfPhoto < 5 ? 'cursor-pointer' : 'opacity-30'"
        class="fa-solid fa-plus mb-3 mt-2 bg-gray-200 border border-stone-300 hover:bg-gray-300 duration-200 w-6 h-6 grid place-content-center rounded-full"
        (click)="addNewLink()"
      ></i>
      <!-- Kategoriler -->
      <div>
        <div class="flex items-center gap-2 my-1">
          <i class="fa-solid fa-box-archive pl-1 fa-lg"></i>
          <p class="font-semibold">Ürün Kategorileri</p>
        </div>
        <div class="flex items-center flex-wrap gap-3 mb-4">
          <div
            *ngFor="let productCategory of productCategories"
            [ngClass]="
              includes(product?.productCategories, productCategory)
                ? 'bg-stone-600 text-white'
                : ''
            "
            [class]="
              'bg-stone-200/80 ' +
              productCategory.id +
              ' border-stone-500 cursor-pointer text-sm rounded-md duration-200 inline-block p-1 font-semibold'
            "
            (click)="toggleCategoryToData(productCategory, $event)"
          >
            {{ productCategory.name }}
          </div>
        </div>
      </div>
      <button
        class="bg-[#febd69] p-1 rounded-md font-semibold border border-[#dea466] shadow-md w-full"
        (click)="updateIt()"
      >
        Ürünü Güncelle
      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>
