<app-header></app-header>
<div class="bg-stone-100 p-7">
  <p class="text-center text-lg font-semibold">
    '{{ category.category.name }}' adlı ürün kategorisini silmek istedğinize
    emin misiniz?
  </p>
  <div class="flex flex-wrap justify-evenly items-center">
    <button
      (click)="back()"
      class="bg-stone-100 shadow-md rounded-lg p-1 px-5 my-3 hover:bg-stone-200"
    >
      Geri Dön
    </button>
    <button
      (click)="delete()"
      class="bg-[#ffd814] shadow-md rounded-lg p-1 px-5 my-3 hover:bg-[#f7ca00]"
    >
      Sil
    </button>
  </div>
</div>
<app-footer></app-footer>
