<div>
  <div
    class="bg-[#37475a] hover:bg-[#485769] cursor-pointer w-full text-white text-center p-2"
    (click)="scrollToTop()"
  >
    Başa Dön
  </div>
  <div class="bg-[#232f3e]">
    <div class="flex items-start gap-4 flex-wrap justify-between p-10">
      <div class="text-white">
        <p class="font-semibold text-lg">Hakkımızda</p>
        <p class="text-sm">Kariyer</p>
        <p class="text-sm">İletişim</p>
        <p class="text-sm">Bilgi Toplumu Hizmetleri</p>
        <p class="text-sm">Amazon Science</p>
      </div>
      <div class="text-white">
        <p class="font-semibold text-lg">Bizimle Para Kazanın</p>
        <p class="text-sm">Markanızı Koruyun ve Oluşturun</p>
        <p class="text-sm">Amazon'da Satış Yapın</p>
        <p class="text-sm">Ürünlerinizin Reklamını Yapın</p>
      </div>
      <div class="text-white">
        <p class="font-semibold text-lg">Amazon Ödeme Araçları</p>
        <p class="text-sm">Kredi Kartı</p>
        <p class="text-sm">Taksitli Ödeme</p>
      </div>
      <div class="text-white">
        <p class="font-semibold text-lg">Size Yardımcı Olalım</p>
        <p class="text-sm">COVID-19 ve Amazon</p>
        <p class="text-sm">Kargoları Takip Edin veya</p>
        <p class="text-sm">Siparişleri Görüntüleyin</p>
        <p class="text-sm">Teslimat Ücretleri ve Politikaları</p>
        <p class="text-sm">İadeler</p>
        <p class="text-sm">Geri Dönüşüm</p>
        <p class="text-sm">Amazon Mobil Uygulaması</p>
        <p class="text-sm">Müşteri Hizmetleri</p>
        <p class="text-sm">Erişilebilirlik</p>
      </div>
    </div>
  </div>
  <div class="bg-[#232f3e] p-9 border-t border-[#3a4553]">
    <div class="grid place-content-center mb-5">
      <a routerLink="/">
        <img
          src="https://upload.wikimedia.org/wikipedia/donate/thumb/f/fd/Amazon-logo-white.svg/1024px-Amazon-logo-white.svg.png"
          class="w-28"
        />
      </a>
    </div>
    <div
      class="flex text-white gap-3 justify-center flex-wrap items-center text-sm"
    >
      <p>Avustralya</p>
      <p>Brezilya</p>
      <p>Kanada</p>
      <p>Çin</p>
      <p>Fransa</p>
      <p>Almanya</p>
      <p>Hindistan</p>
      <p>İtalya</p>
      <p>Japonya</p>
      <p>Meksika</p>
      <p>Hollanda</p>
      <p>İspanya</p>
      <p>Birleşik Arap Emirlikleri</p>
      <p>Birleşik Krallık</p>
      <p>ABD</p>
      <p>Singapur</p>
    </div>
  </div>
  <div class="bg-[#131a22]">
    <div
      class="flex items-start justify-center gap-20 flex-wrap p-10 text-white text-sm"
    >
      <div class="w-36 hover:underline cursor-pointer">
        Amazon Web Services Ölçeklenebilir Bulut Bilgi İşlem Hizmetleri
      </div>
      <div class="w-24 hover:underline cursor-pointer">
        East Dane Tasarımcı Erkek Moda Ürünleri
      </div>
      <div class="w-24 hover:underline cursor-pointer">
        Shopbop Tasarım Ürünler Moda Markalar
      </div>
      <div class="w-36 hover:underline cursor-pointer">
        Book Depository Dünya Genelinde Ücretsiz Kargo Kapsamında Kitaplar
      </div>
    </div>
    <div
      class="flex items-center justify-center flex-wrap gap-9 text-sm text-white"
    >
      <p class="hover:underline cursor-pointer">Kullanım ve Satış Koşulları</p>
      <p class="hover:underline cursor-pointer">Aydınlatma Bildirimi</p>
      <p class="hover:underline cursor-pointer">Çerezler Hakkında</p>
      <p class="hover:underline cursor-pointer">
        İlgi Alanına Dayalı Tanıtımlar
      </p>
      <p class="hover:underline cursor-pointer">İşlem Rehberi</p>
    </div>
    <p class="text-white text-sm text-center mt-2 pb-6">
      © 1996-2023, Amazon.com, Inc. veya bağlı kuruluşları
    </p>
  </div>
</div>
