<app-header></app-header>
<div class="p-6 bg-stone-100">
  <div *ngIf="product.products.length == 0">
    <p class="font-semibold">
      Daha az anahtar kelime kullanın ya da aşağıdaki ürünleri deneyin.
    </p>
    <label for="">{{ name }} için sonuç yok.</label>
    <p class="text-sm">
      Fiyat ve diğer ayrıntılar ürünün boyutu ve rengine göre farklılık
      gösterebilir.
    </p>
  </div>
  <div *ngIf="product.products.length > 0">
    <div class="mb-3">
      <h2 class="font-semibold text-lg">Sonuçlar</h2>
      <p>
        Fiyat ve diğer ayrıntılar ürünün boyutu ve rengine göre farklılık
        gösterebilir.
      </p>
    </div>
    <div class="flex gap-4 flex-wrap">
      <div
        class="lg:w-64 w-48 cursor-pointer"
        *ngFor="let product of product.products"
      >
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
