<app-header></app-header>
<div class="flex justify-center">
  <div class="lg:w-3/4 md:w-4/5 w-11/12 my-5">
    <h2 class="text-xl font-semibold">Yorum Oluştur</h2>
    <div class="flex items-center gap-4 my-2">
      <img
        src="https://m.media-amazon.com/images/I/61Or0FdfVsL._AC_SL1500_.jpg"
        class="w-16"
      />
      <p>
        Songmics Ayarlanabilir ve Katlanabilir Gölgelikli Şezlong, 55x193x31 CM,
        Koyu Gri, GCB19WGV1
      </p>
    </div>
    <hr class="my-4" />
    <div>
      <p class="text-xl font-semibold">Genel puan</p>
    </div>
    <hr class="my-4" />
    <div>
      <p class="text-xl font-semibold mb-2">Bir başlık ekleyin</p>
      <input
        type="text"
        placeholder="Bilinmesi gereken en önemli şey nedir?"
        class="border w-full border-stone-500 px-1 rounded-sm shadow-sm"
      />
    </div>
    <hr class="my-4" />
    <div>
      <p class="text-xl font-semibold mb-2">Görünen adınızı değiştirin</p>
      <p>Diğer müşterilere bu şekilde görünürsünüz</p>
    </div>
    <div class="flex justify-end">
      <button class="bg-[#ffd814] rounded-md p-1 shadow-sm">Gönder</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
