<app-header></app-header>
<div class="p-3">
  <h3 class="text-xl font-semibold">Önceden alınanlar</h3>
  <div *ngIf="boughts.length > 0">
    <div *ngFor="let bought of boughts">
      <div
        class="bg-stone-100 border border-stone-200 shadow-md rounded-md my-3"
      >
        <div *ngFor="let product of bought.products" class="p-3">
          <div class="flex justify-between items-start p-2 gap-2">
            <div class="flex items-start gap-2">
              <div>
                <swiper-container
                  slides-per-view="1"
                  speed="500"
                  loop="true"
                  pagination="true"
                  class="lg:w-32 w-24 border border-stone-300"
                >
                  <swiper-slide *ngFor="let photo of product?.photos">
                    <img
                      [src]="photo.photoUrl"
                      class="lg:w-32 w-24 rounded-sm grid place-items-center h-full"
                  /></swiper-slide>
                </swiper-container>
              </div>
              <div>
                <p class="font-semibold lg:text-lg text-base">
                  {{ product.name }}
                </p>
                <p class="text-sm" *ngIf="product.description.length > 80">
                  {{ product.description | slice : 0 : 80 }}...
                </p>
                <p class="text-sm" *ngIf="product.description.length <= 80">
                  {{ product.description }}
                </p>
                <p class="text-lg font-semibold">{{ product.price }}</p>
              </div>
            </div>
            <!-- Ekleme, silme -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="boughts.length == 0">
    <h3 class="mt-2">
      Şu ana kadar kaydedilmiş eskiden satın alınmış ürün yok. 😥
    </h3>
  </div>
</div>
<app-footer></app-footer>
